body {margin:0;}
a {text-decoration: none; }
p {line-height: 1.5em;}
.tCenter {text-align: center;}
.m20 { margin-top: 20px; margin-bottom: 20px;}
/*.clearFix:after{ clear:both; display: table; line-height: 0; content:" "; box-sizing: border-box;}*/
li { line-height: 40px;}

.nav {position:fixed; margin:0; width:100%; background-color: #292929;}
.nav li {list-style: none; float: left; margin: auto 10px; color: #999;}
.nav li a, a:visited {color: #9d9d9d;}
.nav li a:hover {color: #fff;}
.nav li a.active {color: #fff;}

.wrapper { margin: 100px 20px;}
.nav1 {top:0;}
.nav2 { bottom: 0;}
